.signup_container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-400);
}

.signup_form {
  display: flex;
  justify-content: center;
  background-color: var(--bg-300);
  width: 400px;
  min-height: 450px;
  border-radius: 5px;
  padding: 0 2em;
}
