.flex {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--bg-100);
}

.sidebar_project_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--primary-100);
  margin-bottom: 2em;
  padding: 0.5em 0;
}

.sidebar_project_info > div {
  display: flex;
  column-gap: 0.5em;
  font-weight: 500;
  margin-left: 1em;
  font-size: 18px;
  color: var(--bg-100);
}

.sidebar_project_info_text p {
  font-size: 17px;
  color: var(--bg-100);
  font-weight: 500;
  margin-left: 1em;
}

.sidebar_project_info_text p:last-child {
  font-size: 14px;
}

.sidebar_item {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  padding: 1em 0;
  width: 90%;
}

.sidebar_item:hover {
  color: var(--primary-100);
  background-color: var(--gray-100);
}

.sidebar::after {
  content: '';
  border: 1px solid var(--gray-100);
  position: absolute;
  height: 100%;
  left: 100%;
}

.sidebar img {
  width: 25px;
  height: auto;
}

.sidebar_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
